.navbar {
    -webkit-box-shadow: 0 8px 6px -6px #999;
    -moz-box-shadow: 0 8px 6px -6px #999;
    box-shadow: 0 8px 6px -6px #999;
    padding: 0px !important;
}

.navbar .navbar-brand {
    margin: 0;
    line-height: 65px;
    padding: 0 0px 0 0px;
}

.navbar-brand {
    position: relative;
    width: 170px;
    left: 0px;
}

img {
    vertical-align: top !important;
    border-style: none;
    height: 65px;
}

/***** comming soon style *****/
body {
    background: #00091B;
    color: #fff;
  }
  
  
  @keyframes fadeIn {
    from {top: 20%; opacity: 0;}
    to {top: 100; opacity: 1;}
    
  }
  
  @-webkit-keyframes fadeIn {
    from {top: 20%; opacity: 0;}
    to {top: 100; opacity: 1;}
    
  }
  
  .wrapper {
    position: absolute;
    left: 50%;
    top: 50%;
    transform: translate(-50%, -50%);
    -webkit-transform: translate(-50%, -50%);
    animation: fadeIn 1000ms ease;
    -webkit-animation: fadeIn 1000ms ease;
    
  }
  
  h1 {
    font-size: 50px;
    font-family: 'Poppins', sans-serif;
    margin-bottom: 0;
    line-height: 1;
    font-weight: 700;
  }
  
  .dot {
    color: #4FEBFE;
  }
  
  p {
    text-align: center;
    margin: 18px;
    font-family: 'Muli', sans-serif;
    font-weight: normal;
    
  }
  
  .icons {
    text-align: center;
    
  }
  
  .icons i {
    color: #e9185c;
    background: #fff;
    height: 15px;
    width: 15px;
    padding: 13px;
    margin: 0 10px;
    border-radius: 50px;
    border: 2px solid #fff;
    transition: all 200ms ease;
    text-decoration: none;
    position: relative;
  }
  
  .icons i:hover, .icons i:active {
    color: limegreen;
    background: none;
    cursor: pointer !important;
    transform: scale(1.2);
    -webkit-transform: scale(1.2);
    text-decoration: none;
    
  }
  

/***** end comming soon style *****/